/* TOUR EDITING */

.create-tour-container {
  /* display: flex;
  flex-direction: column; */
  padding-left: 5%;
  width: 100%;
}

.create-tour-form {
  display: flex;
  border: solid red 1px;
  margin-top: 3%;
  width: 90%;
  border: 3px solid rgba(80, 116, 180, .8);
  border-radius: .4%;
  box-shadow: 0 0 10px rgba(80, 116, 180);
  padding: .7%;
}

.create-tour-input {
  font-family: 'Roboto', sans-serif;
  border: grey;
  margin: 5px;
  width: 30%;
}

.create-tour-input::placeholder {
  font-family: 'Roboto', sans-serif;
}

.create-tour-button {
  font-family: 'Roboto', sans-serif;
  margin: 5px;
  height: 60%;
}

.create-tour-button:hover {
  font-family: 'Roboto', sans-serif;
  background: #69def7;
  margin: 5px;
  height: 60%;
}


.tour-editing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  width: 90%;
  background: #fefefe;
  border: 3px solid rgba(80, 116, 180, .8);
  border-radius: .4%;
  box-shadow: 0 0 10px rgba(80, 116, 180);
}

/* LOC ADDER */
.location-searcher {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid white;
  margin: .5%;
  width: 80%;
  padding:  .3%;
}

.search-bar {
  width: 60%;
}

.save-tour-button {
  border: solid pink 1px;
}

.save-tour-button:hover {
  border-radius: 5px;
  background: grey;
}

/* LOC ADDER */

.location-adder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 98%;
  margin: 15px;
  border: solid green 1px;
}

.location-adder-name-address {
  padding: .5%;
  display: flex;
  flex-direction: column;
  border: solid yellow 1px;
  width: 20%;
}

.location-adder-fun-facts {
  padding: .5%;
  width: 50%;
  display: flex;
  flex-direction: column;
  border: solid blue 1px;
}

.location-adder-description {
  margin: 10px;
  border: solid black 2px;
  background: purple;
}

.location-adder-form {
  border: solid black 2px;
  flex-basis: 20%;
}

.location-adder-thumbnail {
  width: 12%;
  height: 12%;
  margin: 3px;
  max-width: 18%;
}

.location-adder-button {
  width: 10%;
}

.location-adder-button:hover {
  background: red;
  border-radius: 10%;
  width: 10%;
}

.location-editing-form {
  display: flex;
  border: solid red 1px;
  width: 80%
}
.cloudinary-upload-button {
  width: 5%;
  height: 5%;
  background: pink;
}
