.new-user {
  display: flex;
  width: 60vw;
  height: 90%;
  margin: auto;
  padding: 2%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #3775B7;
  border: 3px solid rgba(80, 116, 180, .8);
  border-radius: .4%;
  box-shadow: 0 0 10px rgba(80, 116, 180);
}

.new-user-input {
  margin: 2.3%;
  width: 62%;
  text-align: center;
}

.new-user-logo  {
  width: 70%;
}

.new-user-welcome {
  color: white;
  font-size: 1.4em;
}

.new-user-button-container {
    display: flex;
    padding: 5%;
    width: 75%;
    justify-content: space-evenly;
}

.back-to-login {
    width: 40%;
    background: #ebebeb;
    border-radius: 5%;
}

.create-account-button {
  width: 40%;
  background: #ebebeb;
  border-radius: 5%;
}

.new-user-error {
  color: white;
  font-size: .9em;
}
@media only screen and (min-width: 200px) and (max-width: 399px) {
  .new-user {
    display: flex;
    width: 98%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #3775B7;
  }

  .new-user-input {
    margin: 5.5%;
    width: 62%;
    text-align: center;
  }

  .new-user-logo  {
    width: 60%;
  }

  .new-user-welcome {
    color: white;
    font-size: 1.4em;
  }

  .new-user-button-container {
    display: flex;
    padding: 5%;
    width: 75%;
  }
  .new-user-button-container:button {
    min-width: 50%;
  }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
  .new-user {
    display: flex;
    width: 95%;
    height: 100vh;
    padding: 2%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #3775B7;
  }

  .new-user-input {
    margin: 2.3%;
    width: 62%;
    text-align: center;
  }

  .new-user-logo  {
    width: 70%;
  }

  .new-user-welcome {
    color: white;
    font-size: 1.4em;
  }

  .first-last-name-container {
    display: flex;
    width: 75%;
  }
  .new-user-button-container {
    display: flex;
    padding: 5%;
    width: 100%;
  }
  .new-user-button-container:button {
    min-width: 70%;
    background: red;
  }
}
