.sidebar {
  width: 15%;
  height: 100vh;
  padding: 1%;
  background: #3775B7;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;

  /* background: #007BCB;  */
  color: white;

}

.nav-container {
  display: flex;
  flex-direction: column;
  background-color: #3775B7;
  margin: 0;
  text-align: left;

}

.nav-item {
  margin: 3% 0 14% 0 ;
}

.nav {
  margin-left: 4px;
  color: white;
  font-size: .8em;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.nav-img {
  width: 10%;
  margin-right: 3%;
  padding: .2%;

}
@media only screen and (min-width: 200px) and (max-width: 450px) {
  .sidebar {
    display: none;
  }

  .mobile-nav-container {
    display: flex;
    flex-direction: column;
    background-color: #3775B7;
    margin: 0;
    text-align: left;
    width: 40%;
    height: 100vh;
  }

  .mobile-sidebar {
    z-index: 99;
    position: fixed;
  }


  .mobile-nav-img {
    width: 10%;
    margin: 0;
    padding: .2%;
  }

  .mobile-nav{
    margin-left: 4px;
    color: white;
    font-size: 1em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }

  .mobile-item {
    margin: 6% 0 10% 4%;
  }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {

}
