
.viewing-tour-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  padding: 1%;
  align-items: center;
}

.starting-tour-button {
  width: 80%;
  height: 60%;
  margin: auto;
  border-radius: 2%;
  background: #ffbf2f;
}

.tour-location-detail {
  z-index: 90;
  overflow: scroll;
  font-family: 'Roboto', sans-serif;
  margin: auto;
  width: 60%;
  height: 75%;
  font-size: 4em;
  overflow: auto;
  position: fixed;
  background: #2d2959;
  opacity: 93%;
  color: #c6c5c5;
  border: 3px solid rgba(80, 116, 180, .8);
  border-radius: .4%;
  box-shadow: 0 0 10px rgba(80, 116, 180);
}

.back-fact-button {
  color: #ffbf2f;
  font-family: 'Roboto', sans-serif;
  font-size: .5em;
  float: left;
  margin: 1%;
}

.next-fact-button {
  color: #ffbf2f;
  font-family: 'Roboto', sans-serif;
  font-size: .5em;
  float: right;
  margin: 1%;
}

.back-fact-button:hover {
  color: grey;
  font-family: 'Roboto', sans-serif;
  font-size: .5em;
  float: left;
  margin: 1%;
}

.next-fact-button:hover {
  color: grey;
  font-family: 'Roboto', sans-serif;
  font-size: .5em;
  float: right;
  margin: 1%;
}



.fun-fact {
  padding: 5%;
}

.tour-location-image {
  max-width: 95%;
  max-height: 95%;
}

.viewing-tour-next-location-button {
  background: #3775B7;
  color: white;
  height: 50%;
  width: 100%;
  border-radius: 2%;
  margin-top: 30%;
  bottom: 0;
}

.started-mode-controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.viewing-controls-container {
  display: flex;
  flex-direction: column;
}

.location-controls-container {


}
.controls-tour-begins:p {
}

.view-tour-upload-image-button {
  background-color: #ffbf2f;
  border-radius: 8%;
  width: 30%;
  margin: 2%;
}

.view-tour-details-button {
  background: grey;
  background-color: #ffbf2f;
  border-radius: 8%;
}

.view-tour-current-image {
  margin: 1%;
}

@media only screen and (min-width: 200px) and (max-width: 399px)  {
  .viewing-tour-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
    padding: 1%;
    align-items: center;

  }

  .starting-tour-button {
    width: 65%;
    height: 40%;
    border-radius: 2%;
    background: #ffbf2f;
  }

  .tour-title-h3 {
    margin: 10% 0 0 0;
  }

  .tour-location-detail {
    overflow: scroll;
    font-family: 'Roboto', sans-serif;
    border: solid #cdcdcd 3px;
    box-shadow: 0 0 1vh #a3a3a3;
    z-index: 90;
    width: 95%;
    height: 70%;
    font-size: 2.2em;
    overflow: auto;
    position: fixed;
    background: #2d2959;
    opacity: 93%;
    color: #c6c5c5;
    margin-bottom: auto;
  }

  .back-fact-button {
    color: #ffbf2f;
    font-family: 'Roboto', sans-serif;
    font-size: .5em;
    float: left;
    margin: 1%;
  }

  .next-fact-button {
    color: #ffbf2f;
    font-family: 'Roboto', sans-serif;
    font-size: .5em;
    float: right;
    margin: 1%;
  }

  .back-fact-button:hover {
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-size: .5em;
    float: left;
    margin: 1%;
  }

  .next-fact-button:hover {
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-size: .5em;
    float: right;
    margin: 1%;
  }



  .fun-fact {
    padding: 5%;
  }

  .tour-location-image {
    max-width: 95%;
    max-height: 95%;
  }

  .viewing-tour-next-location-button {
    background: green;
    height: 50%;
    width: 100%;
    border-radius: 5%;
    box-shadow: green 2px 4px;
  }

  .started-mode-controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .viewing-controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .location-controls-container {
    position: absolute;
    bottom: 1%;
  }
  .controls-tour-begins:p {
    margin: 5% 12% 3% 12%;
  }

  .view-tour-upload-image-button {
    background-color: #ffbf2f;
    border-radius: 8%;
    width: 30%;
    margin: 2%;
  }

  .view-tour-details-button {
    background: grey;
    background-color: #ffbf2f;
    border-radius: 8%;
  }

  .view-tour-current-image {
    margin: 1%;
  }
}


@media only screen and (min-width: 400px) and (max-width: 600px) {
  .viewing-tour-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
    padding: 1%;
    align-items: center;

  }

  .starting-tour-button {
    width: 65%;
    height: 40%;
    border-radius: 2%;
    background: #ffbf2f;
  }

  .tour-title-h3 {
    margin: 10% 0 0 0;
  }

  .tour-location-detail {
    overflow: scroll;
    font-family: 'Roboto', sans-serif;
    border: solid #cdcdcd 3px;
    box-shadow: 0 0 1vh #a3a3a3;
    z-index: 90;
    width: 95%;
    height: 70%;
    font-size: 2.2em;
    overflow: auto;
    position: fixed;
    background: #2d2959;
    opacity: 93%;
    color: #c6c5c5;
    margin-bottom: auto;
  }

  .back-fact-button {
    color: #ffbf2f;
    font-family: 'Roboto', sans-serif;
    font-size: .5em;
    float: left;
    margin: 1%;
  }

  .next-fact-button {
    color: #ffbf2f;
    font-family: 'Roboto', sans-serif;
    font-size: .5em;
    float: right;
    margin: 1%;
  }

  .back-fact-button:hover {
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-size: .5em;
    float: left;
    margin: 1%;
  }

  .next-fact-button:hover {
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-size: .5em;
    float: right;
    margin: 1%;
  }



  .fun-fact {
    padding: 5%;
  }

  .tour-location-image {
    max-width: 95%;
    max-height: 95%;
  }

  .viewing-tour-next-location-button {
    background: green;
    height: 50%;
    width: 100%;
    border-radius: 5%;
    box-shadow: green 2px 4px;
  }

  .started-mode-controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .viewing-controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .location-controls-container {
    position: absolute;
    bottom: 1%;
  }
  .controls-tour-begins:p {
    margin: 5% 12% 3% 12%;
  }

  .view-tour-upload-image-button {
    background-color: #ffbf2f;
    border-radius: 8%;
    width: 30%;
    margin: 2%;
  }

  .view-tour-details-button {
    background: grey;
    background-color: #ffbf2f;
    border-radius: 8%;
  }

  .view-tour-current-image {
    margin: 1%;
  }
}
