#root {
  max-width: 1200px;
}

table {
  border-collapse: collapse;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  width: 100%;
  height: 100vh;
  background: white;
  margin-left: 10%;
  border: solid green 3px;
}

.sidebar {
  position: fixed;
  width: 10%;
  height: 100vh;
  background: #3775B7;
  /* background: #007BCB;  */
  color: white;

}

.nav-container {
  display: flex;
  flex-direction: column;
  background-color: #3775B7;

}

.nav-item {
  margin: 10px;
}

.nav {
  margin-left: 4px;
  color: white;
  font-size: .8em;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.nav-img {
  width: 10%;
  margin: 0;
  padding: 0;

}


.location-adder {
  display: flex;
  margin: 15px;
}


.search-bar {
  margin: 3%;
  width: 250px;
}

#map {
  height: 200%;
  max-width: 80%;
}

#map-container {
  padding-top: 200px;
  height: 400;
  width: 400;
}

#map-2 {
  margin-top: 200px;
  height: 200%;
  position: unset !important;
}

/* USER VIEW */
.list-and-map-view-selector {
  display: flex;
  margin: 20px;
  width: 50%;
}

.active-1 {
  color: white;
  background-color: #3775B7;
  border: solid green 1px;
  margin: auto;
  padding: 2% 8% 2% 8%;
  border-radius: 15%;
}

.inactive-1 {
  color: white;
  background-color: grey;
  border: solid blue 1px;
  margin: auto;
  padding: 2% 8% 2% 8%;
  border-radius: 15%;
}


/* DASHBOARD */
.dashboard-table {
  border-radius: 5px;
  margin-top: 5%;
  margin-left: 5%;
  width: 80%;
  background: white;
  padding: 10px;
  overflow: auto;
}

.dashboard-table-headers {
  background-color: white;
  color: #97A1AA;
  padding: 20px;

}

.dashboard-table-data {
  background-color: white;
  max-width: 80%;
  padding: 20px;
  padding-left: 35px;
}

.dashboard-create-link {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.dashboard-create-link-div {
  float: right;
  background-color: #3775B7;
  border: none;
  color: white;
  max-width: 20%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 40px;
}


.dashboard-headline {

}















/* ADDING LOCATION */
.drag-drop {
  height: 80px;
  width: 80px;
}

.list-view-item {
  margin-right: 20px;
}

.list-view-tour {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.list-container {
  overflow: auto;
  border: solid black 1px;
  width: 80%;
}


.list-view-tour-container {
  display: flex;
  flex-direction: column;
  border: solid grey 1px;
  padding: 5px;
  margin: 1% 0 0 1%;
}

.viewing-tour-container {
  border: solid grey 1px;
  display: flex;
  flex-direction: column;
}

.tour-location-detail {
  font-family: 'Roboto', sans-serif;
  margin: auto;

}


.no-display {
  display: none;
}

.top-bar {
  width: 97%;
  overflow: inherit;
  background: #007BCB;
  border: solid blue 1px;
}


.home-container {
  background-color: #d6d6d6;
  display: flex;
}


.create-tour-container {
  /* display: flex;
  flex-direction: column; */
  padding-left: 5%;
  width: 100%;
}

.create-tour-form {

  max-width: 100%;
}

.create-tour-input {
  margin: 5px;
  width: 180px;
}

.logo-img {
  width: 98%;
  padding: 5px 5px 0 3px;
}


.loader {
  position: relative;
  text-align: center;
  margin: 15px auto 35px auto;
  z-index: 9999;
  display: block;
  width: 80px;
  height: 80px;
  border: 10px solid rgba(0, 0, 0, .3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
