.app-container {
  max-width: 1200px;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

.sidebar-and-app-layout {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  width: 100%;
  height: 100vh;
  background: white;
  background: #f0f0f0;
  border: solid green 2px;
  overflow: auto;
}

.home-container {
  background-color: #d6d6d6;
  display: flex;
  border: solid red 3px;
}

#map {
  height: 200%;
  max-width: 80%;
}

#map-container {
  padding-top: 200px;
  height: 400;
  width: 400;
}

#map-2 {
  margin-top: 200px;
  height: 200%;
  position: unset !important;
}


.no-display {
  display: none;
}
